<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		.app {
			display: flex;
			flex-direction: column;
		}
		
		.heading {
			font-size: 1.2rem;
			font-weight: bold;
			margin: 1rem 0;
		}
		
		.description {
			order: 2;
		}
	</style>
</head>

<body>
	<div class="container app" id="app">
		<h1 class="text-center heading">Kalkulator oszczędności nadpłacania kredytu</h1>
		<p class="description text-muted">
			Kalkulator oblicza ile zaoszczędzimy nadpłacając kredyt daną kwotą miesięcznie oraz w jakim czasie spłacimy go szybciej.
			Kalkulator jest bardzo prosty i jego szacunki są przybliżone.
		</p>
		
		<div class="form">
			<div class="form-group">
				<label>Oprocentowanie: </label>
				<input v-model="percent" class="form-control">
			</div>
			
			<div class="form-group">
				<label>Kwota do spłaty: </label>
				<input v-model="amount" class="form-control">
			</div>
			
			<div class="form-group">
				<label>Miesieczna rata: </label>
				<input v-model="standard" class="form-control">
			</div>
			
			<div class="form-group">
				<label>Kwota miesięcznej nadpłaty: </label>
				<input v-model="add" class="form-control">
			</div>
			
			<div class="form-group text-center">
				<button v-on:click="calc" class="btn btn-primary">Oblicz</button>
			</div>
			
			<div v-if="results">
				<h2>Wynik</h2>
				<div class="mb-2">
					<b>Normalny tryb</b>
					<div>
						Koszt = {{ results.normalCost }} zł
					</div>
					<div>
						Czas = {{ formatPeriod(results.normalPeriod) }}
					</div>
				</div>
				
				<div class="mb-2">
					<b>Tryb nadpłat</b>
					<div>
						Koszt = {{ results.surchargeCost }} zł
					</div>
					<div>
						Czas = {{ formatPeriod(results.surchargePeriod) }}
					</div>
				</div>
				
				<div class="mb-4">
					<b>Oszczędzasz</b>
					<div>
						{{ results.normalCost - results.surchargeCost }} zł
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<script>
	function calcDept(dept, amount, percent) {
		var cost = 0;
		var iterations = 0;
		while (dept > 0) {
			var c = dept * (percent * 0.01) / 12;
			var rata = amount - c;
			cost += c;
			dept = dept - rata;
			iterations++;
		}

		return { cost: Math.round(cost), months: iterations };
	}

	var app = new Vue({
		el: '#app',
		data: {
			percent: '4.6',
			amount: '300000',
			add: '100',
			standard: '2000',
			results: undefined
		},
		created: function () {
			const storedData = JSON.parse(localStorage.getItem('data'));
			if(storedData) {
				Object.assign(this.$data, storedData);
			}	
		},
		methods: {
			calc: function () {
				var result1 = calcDept(this.amount, this.standard, this.percent);
				var result2 = calcDept(this.amount, (1 * this.standard) + (1 * this.add), this.percent);

				this.results = {
					normalCost: result1.cost,
					normalPeriod: result1.months,
					surchargeCost: result2.cost,
					surchargePeriod: result2.months
				}
				localStorage.setItem('data', JSON.stringify(this.$data));
			},
			formatPeriod: function (period) {
				var years = Math.floor(period / 12);
				var months = period - years * 12;
				var result = '';
				if (years > 0) {
					result += years + ' lat ';
				}
				if (months > 0) {
					result += months + ' miesięcy';
				}

				return result;
			}
		}
	})
</script>
</html>