RewriteEngine On

# Try to serve the requested file
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Rewrite URLs like /test to /test.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
